<a href="https://colab.research.google.com/github/sunghyun-q/test/blob/main/practiceA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def hello(x, y):
  a = x
  b = y
  return a, b

In [ ]:
t = hello(2, 4)

In [ ]:
print(t[0]) # tuple 형태로 받아지구나!!!!!!

2

In [ ]:
import numpy as np

np.ones((2, 3)) #안에는 배열의 구조가 들어가야 되겠네요

array([[1., 1., 1.],
       [1., 1., 1.]])

In [ ]:
a = np.array([1, 2, 3, 4, 5])
print(a > 3)

[False False False  True  True]